{% extends 'base.html.twig' %}
{% block title %}L'équipe
{% endblock %}

{% block body %}
	<h1>La team</h1>

	{% for team in teams %}
		<ul>

			<li>{{team.firstname}}
				{{team.lastname}}
				:
				{{team.label}}
				=> 
							Supérieur :
				{{team.supervisor}}
			</li>
		</ul>

		{# {{team.id}} #}

		{# <p>
						{{team.firstname}}
						{{team.lastname}}
					</p>
					<p>Supérieur hiérachique :
						{{team.supervisor}}</p>
		
					<p>Position :
						{{team.label}}</p> #}

	{% endfor %}
{% endblock %}
