
{% extends 'base.html.twig' %}


{% block title %}L'équipe
{% endblock %}

{% block body %}

	<h1><img src="/pictures/{{member.photo }}" alt="" width="50px"> {{member.firstname}} {{member.lastname}} </h1>
    <p>Poste : {{position.label}}</p>
    <p>Age : {{member.age}} ans</p>
    <p>Adresse : {{member.adresse}}</p>
    <p>Mail : {{member.mail}}</p>
    <p>Téléphone : {{member.tel}}</p>

{% endblock %}