
{% extends 'base.html.twig' %}


{% block title %}L'équipe
{% endblock %}

{% block body %}

	<h1>Fiche  de {{member.firstname}} {{member.lastname}} {{position.label}}</h1>
    <p>Age : {{member.age}} ans</p>
    <p>Adresse : {{member.adresse}}</p>
    <p>Mail : {{member.mail}}</p>
    <p>Téléphone : {{member.tel}}</p>

{% endblock %}