{% extends 'base.html.twig' %}


{% block title %}L'équipe
{% endblock %}

{% block body %}
	<h1>La team</h1>
{% for levels in level %}
{% if level == 0  %}
	<li>{{levels}} <br></li>
	{% else %}
		<li>{{levels}} <br></li>
	{% endif %}
{% endfor %}

	{# {% for team in teams %}
		<ul>

			<li>{{team.firstname}}
				{{team.lastname}}
				:
				{{team.label}}
				=> Supérieur :
				{{team.supervisor}}
			</li>
		</ul>
	{% endfor %} #}
{% endblock %}
